MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=unievent
MYSQL_USER=unievent_app
MYSQL_PASSWORD=
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/unievent?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC

UNIEVENT_SECURITY_JWT_SECRET=dev-secret-key-must-be-at-least-256-bits-in-production
UNIEVENT_SECURITY_JWT_EXPIRATION_MS=86400000
UNIEVENT_SECURITY_JWT_REFRESH_SECRET=dev-refresh-secret-key-must-be-at-least-256-bits-in-production
UNIEVENT_SECURITY_JWT_REFRESH_EXPIRATION_MS=604800000

# Will autopopulate if you run "pwsh ./setup.ps1 vault" in root
VAULT_TOKEN=
VAULT_UNSEAL_TOKEN=
VAULT_ROOT_TOKEN=
